<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
	body{
		background-color: pink;
	}
</style>

</head>
<body>

<h3 align="center"> Add Recipes </h3> <hr>

  


  <form method="post" enctype="multipart/form-data" id="id1" data-subcategorylist="{% url 'ajaxsubcatlist' %}" novalidate>

	{% csrf_token %}
	<table>
	    	{{ form.as_table }}
	</table>
<button type="submit"> submit </button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
  //alert("a");
  	$("#id_category_name").change(function() {
  		var url = $("#id1").attr("data-subcategorylist");
  		//alert(url);
  		var category_name =$(this).val();

  		$.ajax({                       
        url: url,                    
        data: {
          'category': category_name      
        },
        success: function (data) {   
	//alert(data);
          $("#id_subcategory_name").html(data);  
        }
      });

    });
</script>
</body>
</html>



