<!DOCTYPE html>
<html>
<head>
	<title> </title>
		<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		body{
			background-color: pink;
		}
	</style>

</head>
<body>
	
		<h3 align="center"> Welcome Admin </h3> <hr>
		<div class="pagination">
			<a href="{% url 'addcat' %}">Add category </a>&nbsp;

			<a href="{% url 'addsubcat' %}"> Add subcategory </a>&nbsp;

			<a href="{% url 'addrecipe' %}">  Add recipe </a> &nbsp;
			<a href="{% url 'viewrecipe' %}"> View recipe </a> &nbsp;
			<a href="{% url 'viewfeedback' %}"> View feedback
		
			<a href="{% url 'logout' %}"> Logout </a>
		</div>
		<form method="post" enctype="multipart/form-data">
	    	{% csrf_token %}
	    	{{ form.as_p }}
	    	<button type="submit"> submit </button>
	  	</form>
	 
</body>
</html>