{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
	<form method="post"> 
	{% csrf_token %}
	{{form.as_p}}

	<button type="submit"> update </button>

	</form>
<style type="text/css">
	
body{

		background-color: pink;

}


</style>

{% endblock %}