<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style type="text/css"> 
  		body{
  			background-color: pink;
  		}
  </style>

</head>
<body>

	<h3 align="center"> Recipes...</h3> <hr>

	{% for recipe in recipelist %}
	Recipe name : {{ recipe.recipe_name }} <br>
	Recipe_pic : <img src="{{recipe.recipe_pic.url}}" width="10%"> <br>
	Ingrediants : {{recipe.ingrediants}} <br>
	Instructions : {{recipe.instructions|truncatechars:2}} <br>
  Price : {{recipe.price}} <br>

	  <a href="{% url 'download' %}"> <button> download  </button> </a> 

	<hr>
{% endfor %}


</body>
</html>
