<h4> Recipes... </h4>


{% for recipe in recipelist %}
	Recipe name : {{ recipe.recipe_name }} <br>
	Recipe_pic : <img src="{{recipe.recipe_pic.url}}" width="10%"> <br>
	Ingrediants : {{recipe.ingrediants}} <br>
	Instructions : {{recipe.instructions|truncatechars:2}} <br>
	price : {{recipe.price}} <br>
{% endfor %}

