<!DOCTYPE html>
<html>
<head>
{%load static%}
	<title> home page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



	<style type="text/css">


	
	
	
		.class1{
			display: inline;
			padding-top:10px;
		}
		.navbar{
			padding-top: 35px;


		}
		.glyphicon{
			padding-bottom: 40px;


		}
		
		
		.class3{
			color:white;
		}

		#id1,#id2{
			font-family: "Lucida Console";
			font-weight: bold; 
		}
	</style>


</head>
<body>
	
	
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
	    		<div class="navbar-header">
					<a class="navbar-brand" href="#">AllRecipe</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{% url 'fullrecipe' %}">Home</a></li>
			

					<li> 
					 	<form method="post" action="{% url 'searchrecipe' %}">
							{%csrf_token%}
		                	 <input class="class1" type="text" placeholder="search recipe" name="search"> 
		     			 	<button class="class1" type="submit"> Go <i class="fa fa-search"></i></button> 
						</form>
					</li>
					
						

				</ul>

	    


	

				<ul class="nav navbar-nav navbar-right" class="class2">
	      


					{% if user.is_authenticated %}

					<a href="{% url 'userpage' %}"> <span class="glyphicon glyphicon-user"></span> Userpage </a>&nbsp;

					



					<a href="{% url 'logout' %}"> logout </a> 


					{%else%}

					<p class="class3"> you are not logged in </p>
					

						<a href="{% url 'login' %}" class="class3"> <span class="glyphicon glyphicon-user"></span> 
						 login </a> &nbsp;
						<a href="{% url 'register' %}" class="class3"> <span class="glyphicon glyphicon-log-in"></span> sign up </a>
					
					{% endif %}

				</ul>
			</div>
	
		</nav>
		<br>
		<div>


			<p id="id1"> Learn how to make desserts, snacks for the kids, dinner recipes, lunch ideas, breakfast recipes, quick and easy meals, slow cooker recipes, holiday meal ideas and so much more.</p> <br>
					<p id="id2">
					 Plan your weeknight dinners and find yummy weekend brunch recipes with the help of AllRecipe. Make meals using seasonal ingredients year-round with Allrecipe's spring, summer, fall and winter recipe ideas. Anyone who loves to cook and find new recipe ideas would enjoy this..Sign up now and join with us.. !<br> <br>
					</p>

		</div>
















<div class="container">
    
  	<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    	<ol class="carousel-indicators">
      		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     		 <li data-target="#myCarousel" data-slide-to="1"></li>
     		 <li data-target="#myCarousel" data-slide-to="2"></li>
   		 </ol>

    <!-- Wrapper for slides -->
   		 <div class="carousel-inner">
     		<div class="item active">
       			 <img src="{% static '/images/image11.gif' %}" alt="" style="width:100%;">
     		</div>

      		<div class="item">
       			 <img src="{% static '/images/home1.gif' %}" alt="" style="width:100%;">
     		</div>
    
     		 <div class="item">
       			 <img src="{% static '/images/image11.gif' %}" alt="New york" style="width:100%;">
     		 </div>
    		</div>

    <!-- Left and right controls -->
    	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
      		<span class="glyphicon glyphicon-chevron-left"></span>
      		<span class="sr-only">Previous</span>
   		 </a>
   		 <a class="right carousel-control" href="#myCarousel" data-slide="next">
     		 <span class="glyphicon glyphicon-chevron-right"></span>
     		 <span class="sr-only">Next</span>
    	</a>
  	</div>
</div>
















</body>

</html>
      			