<!DOCTYPE html>
<html>
<head>
	<title> Login page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		body{
			background-color: pink;
		}	
	</style>


</head>
<body>
<br> <br>
	<form method="post">
		{% csrf_token %}
		{{form.as_p}}
		<br> 



		 
		<br>

		<script src='https://www.google.com/recaptcha/api.js'></script>
   		<div class="g-recaptcha" data-sitekey="6Lf0wnMUAAAAALWYRidQXcWAhk_buO4G9lIJwvH-"></div> <br>

   		<button type="submit"> Login </button>

   		<a href="{% url 'password_reset' %}"> <br>
		<br> forgotten password... <a>
	</form>
<h6> -OR- </h6>

<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
 <a href="{% url 'social:begin' 'google-oauth2' %}">Login with google</a>

</body>
</html>