<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style type="text/css"> 
  		body{
  			background-color: pink;
  		}
  		#id1{
  			font-weight: bold;
  		}
  </style>

</head>
<body>
<br> <br> <br>
	<form method='post'>
		{% csrf_token %}
		{{form.as_p}} <br> <br>
		<button type="submit" id="id1"> Register </button>
		
	</form>

	
		

</body>
</html>