{% extends 'base.html' %}

{% block title %}
	
{% endblock %}
{% block content %}
	
	
		<div class="jumbotron">

			<h4 align="center"> Welcome {{ user.username }} </h4>&nbsp;
			<hr>
			<ul class="pagination">

			<a href="{% url 'Profile' %}"> Profile </a>&nbsp;

			<a href="{% url 'addrecipe' %}"> Add Recipe </a>&nbsp;

			<a href="{% url 'viewrecipeus' %}"> View Recipe </a>&nbsp;

			<a href="{% url 'feedback' %}"> Feedback </a>&nbsp;

			</ul>

		</div>
	

	<style type="text/css">
		body{
			background-color: pink;
		}
		
	</style>

{% endblock %}
