<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<style type="text/css">
		body{
			background-color: pink;
		}
	</style>

<body>
	<div class="container">

		<h3> list of recipes </h3>
		{% for i in recipe %}
			<hr>

			Recipe name:{{i.recipe_name}} <br>
			Recipe picture: <img src="{{i.recipe_pic.url}}" width="10%"> <br>
	 		Ingrediants : {{i.ingrediants}} <br>
	 		Instructions : {{i.instructions}} <br>
	 		price:{{i.price}}<br>
	 		

	 		

	 		<a href="{% url 'editrecipeus' id=i.id %}"> edit recipe </a> &nbsp;

			<hr>
	 	{% endfor %}
	</div>

</body>
</html>

