<!DOCTYPE html>
<html>
<head>
	<title> </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">
		body{
			background-color: pink;
		}
	</style>
</head>
<body>
	<h3 align="center"> Feedbacks...! </h3> <hr>
	{% for i in feedback %}
		
		username : {{i.user_data.username}} <br>
		email : {{i.user_data.email}} <br>
		how you rate the website overall : {{i.how_you_rate_the_website_overall}} <br>
		suggestions : {{i.suggestions}}<br>

		<hr>
	{% endfor %}
</body>
</html>